main{
    height: 400px;
    width: 600px;
    border: 2px solid red;
}

h1{
    border: 2px solid red;
    padding: 10px;
    margin: 20px 10px;
}
.para{
    border: 2px solid red;
    padding: 10px;
    margin: 20px 10px;
}
ul li{
    border: 2px solid red;
    padding: 5px;
    margin: 0;
}
ul{
    border: 2px solid red;
    padding: 7px;
    margin: 20px 10px;
}
p{
    margin-left: 5px;
}
.btn{
    border: 2px solid red;
    padding: 10px;
}
.li{
    border: 2px solid red;
    padding: 10px;
}